<template>
    <div @click="checkModal" class="row">
        <div class="col-12">
            <button @click="edit = false" data-toggle="modal" data-target="#userForm" type="button"
                    class="btn btn-primary">Add user
            </button>

            <modal :edit="edit" :userData="userData" ref="modal" :show="show" @submit="submit"/>

            <div class="form-group mt-2">
                <input v-model="search" class="form-control" placeholder="Enter name or email for search">
            </div>

            <users-list @editUser="editUser" @deleteUser="deleteUser" :users="filtered"/>
        </div>
    </div>
</template>

<script>
    import Modal from './Modal.vue';
    import UsersList from './UsersList.vue'
    import * as axios from "axios";
    import {API_URL} from '../config'

    export default {
        components: {
            'modal': Modal,
            'users-list': UsersList
        },
        data: function () {
            return {
                users: [],
                show: false,
                userData: {
                    name: '',
                    email: '',
                    id: ''
                },
                edit: false,
                search: ''
            }
        },
        mounted() {
            axios.get(API_URL + '/users')
                .then((response) => {
                    this.users = response.data.data;
                })
        },
        computed: {
            filtered(){
                return this.users.filter(e=>{
                    return e.name.includes(this.search) || e.email.includes(this.search)
                })
            }
        },
        methods: {
            clearData() {
                this.userData = {
                    name: '',
                    email: '',
                    id: ''
                }
            },
            deleteUser(id) {
                axios.delete(API_URL + '/users/' + id)
                    .then((response) => {
                        if (response.data.success) {
                            this.users = this.users.filter((e) => {
                                return e.id !== id;
                            });
                        } else {
                            alert('Error while deleting');
                        }
                    });
            },
            editUser(id) {
                let user = this.users.filter((e) => {
                    return e.id === id;
                })[0];

                this.userData = {
                    name: user.name,
                    email: user.email,
                    id: user.id
                };

                this.edit = true;

                this.showModal();
            },
            showModal() {
                this.show = true;
            },
            hideModal() {
                document.querySelectorAll('.modal-backdrop').forEach((elem) => {
                    elem.remove()
                });
                document.querySelector('body').classList.remove('modal-open');
            },
            checkModal() {
                this.show = document.querySelector('.modal').classList.contains('show');
            },
            submit(data, edit) {
                const fd = new FormData;
                fd.append('name', data.name);
                fd.append('email', data.email);

                if (data.avatar) {
                    fd.append('avatar', data.avatar);
                }

                if (edit) {
                    fd.append('_method', 'PUT');
                    fd.append('id', data.id);
                    axios.post(API_URL + '/users/' + data.id, fd, {
                        'Content-type': 'multipart/form-data',
                    }).then((response) => {
                        this.show = false;
                        this.edit = false;
                        let data = response.data.data;

                        Vue.set(this.users, this.users.findIndex(e => e.id === data.id), data);

                        this.hideModal();
                        this.clearData();
                    });
                } else {
                    axios.post(API_URL + '/users', fd, {
                        'Content-type': 'multipart/form-data',
                    }).then((response) => {
                        this.show = false;
                        let data = response.data.data;
                        this.users.push(data);

                        this.hideModal();
                        this.clearData();
                    });
                }
            }
        }
    }
</script>
