<template>
    <div>
        <div class="modal fade"
             :class="{ show: show }"
             :style="{ display: modalDisplay }"
             id="userForm"
             tabindex="-1"
             role="dialog"
             aria-labelledby="userFormLabel"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="userFormLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <user-form :edit="edit" :data="userData" @submit="submit"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import UserForm from './UserForm.vue';

    export default {
        props: {
            show: Boolean,
            userData: Object,
            edit: Boolean
        },

        components: {
            'user-form': UserForm
        },
        methods: {
            submit(data, edit) {
                this.$emit('submit', data, edit);
            }
        },
        computed: {
            modalDisplay() {
                return this.show ? 'block' : 'none';
            }
        }
    }
</script>