<template>
    <form @submit.prevent="onSubmit">
        <div class="form-group">
            <label>Email address</label>
            <input required type="email" v-model="data.email" name="email" class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label>Name</label>
            <input required v-model="data.name" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="form-group">
            <label>Avatar</label>
            <input required ref="file" name="avatar" type="file" class="form-control-file">
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</template>

<script>
    export default {
        methods: {
            onSubmit() {
                let data = {
                    name: this.data.name,
                    email: this.data.email,
                    avatar: this.$refs.file.files.item(0)
                };

                if(this.edit) {
                    data.id = this.data.id;
                }

                this.$emit('submit', data, this.edit);
            }
        },
        props: {
            data: {
                type: Object,
                default() {
                    return {
                        name: '',
                        email: '',
                        id: ''
                    }
                }
            },

            edit: {
                type: Boolean,
                default: false
            }
        }
    }
</script>