<template>
    <table v-if="users.length" class="table mt-2">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td><img :src="user.avatar" :alt="user.name"></td>
            <td>
                <button data-toggle="modal" data-target="#userForm" @click="editUser(user.id)" class="btn btn-success">Edit</button>
                <button @click="deleteUser(user.id)" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
    <h2 class="text-center mt-2" v-else>There are no users</h2>
</template>

<script>
    export default {
        props: {
            users: {
                type: Array
            }
        },
        methods: {
            deleteUser(id){
                this.$emit('deleteUser', id);
            },

            editUser(id) {
                this.$emit('editUser', id)
            }
        }
    }
</script>

<style scoped>
    img {
        max-height: 100px;
        max-width: 100px;
    }
</style>